html, body {
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app > div.container-fluid {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-top: 60px;
}

.navbar.shrink {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-fluid > .row {
  max-height: 100%;
}

.container-fluid .column {
  max-height: 100%;
}